@import "./app/app.component.scss";

* {
  box-sizing: inherit;

}

html {
  height: 100%;
  font-family: 'Lato';
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

section {
  height: 100%
}

#mainWraper {
  min-height: 100%;
  display: grid;
  grid-template-rows: 0fr 0fr auto;
}

footer {
  opacity: 0.6;
  width: 100%;
  text-align: center;
  background-color: $fifth-color;
  margin-top: auto;
}
